


<div class="container-fluid mx-0 footer  px-0 ">



    <!-- Footer -->
    <footer
            class="text-center  text-white mx-auto "

            
            >
      <!-- Grid container -->
      <div class=" py-4 pb-0">

        <!-- Section: Links -->
        <section class="py-5 d-flex justify-content-around text-center">
            <div class="mx-auto  ">

            <h5 class=" text-center">
                LOCATION
                
              </h5>
              <p class="text-center">2215 John Daniel Drive</p>
              <p class="text-center">Clark, MO 65243</p>
            </div>
            <div class=" ms-auto ">
                <h5 class="text-center">AROUND THE WEB</h5>
                <section class="mb-4   text-center">
         
                  <a
                     class="btn btn-outline-light btn-floating rounded-circle m-1"
                     href="#!"
                     role="button"
                     ><i class="fab fa-facebook-f"></i
                    ></a>
          
                 
                  <a
                     class="btn btn-outline-light btn-floating rounded-circle  m-1"
                     href="#!"
                     role="button"
                     ><i class="fab fa-twitter"></i
                    ></a>
          
              
                  <a
                     class="btn btn-outline-light btn-floating m-1 rounded-circle "
                     href="#!"
                     role="button"
                     ><i class="fab fa-linkedin-in"></i
                    ></a>
          
                
                  <a
                     class="btn btn-outline-light btn-floating m-1 rounded-circle "
                     href="#!"
                     role="button"
                     ><i class="fab fa-github"></i
                    ></a>
                </section>
          
              </div>
              <div class="mx-auto ">

                

            
                <h5 class="">ABOUT FREELANCER</h5>
                
                <p class="text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                            </div>
                            
                         
                  
                       
                         
       
        </section>
        
  
     
  
      
      </div>
    
      <div
           class="text-center p-4"
           style="background-color:  #1a252f;"
           >
           Copyright © Your Website 2021
       
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->