<div class="container min-vh-100 d-flex align-item-center justify-content-center">
    <div>
        <app-stars  [title]="title"></app-stars>
        
        <form class="row g-3 mt-5 m-auto">
            
            
            <div class="col-12">
              
              <input type="text" class="form-control border-0 border-bottom p-2 my-1" id="inputAddress" placeholder="userName">
            </div>
            <div class="col-12">
              
                <input type="text" class="form-control border-0 border-bottom p-2 my-1" id="inputAddress" placeholder="userAge">
              </div>
              <div class="col-12">
              
                <input type="text" class="form-control border-0 border-bottom p-2 my-1" id="inputAddress" placeholder="userEmail">
              </div>
              <div class="col-12">
              
                <input type="text" class="form-control border-0 border-bottom p-2 my-1" id="inputAddress" placeholder="userPassword">
              </div>
         
           
            <div class="col-12 border-0">
              <button type="submit" class="btn btn-primary  border-0">send message</button>
            </div>
          </form>
        
</div>