<div class="mt-5">
<h2 class="text-bolder text-uppercase text-center   fw-bold mb-3 fs-3" [ngStyle]="{'color':title=='about component'||title=='start framework'?'white':''}">{{title}}</h2>
<div class=" d-flex align-items-center justify-content-center mb-3">

<div class="line me-3 mb-3" [ngStyle]="{'background-color':title=='about component'||title=='start framework'?'white':''}" ></div>
<i class="   star mb-3 fa-solid fa-star" [ngStyle]="{'color':title=='about component'||title=='start framework'?'white':''}"></i>
<div class="line ms-3 mb-3" [ngStyle]="{'background-color':title=='about component'||title=='start framework'?'white':''}"></div>
</div>
</div>