<!-- <section class="main min-vh-100 d-flex align-items-center">

<div class="card  border-light m-auto align-item-center py-5 bg-info border-0" style="width: 18rem;">
    <img src="assets/avataaars.svg" class="card-img-top" alt="...">
    <div class="card-body">
<app-stars [title]="startframework"></app-stars>   
   <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

</section> -->
<!-- <section class="main min-vh-100 d-flex align-items-center">
<div class="card  border-light m-auto align-item-center py-5 bg-info border-0" style="width: 18rem;">
  <img src="assets/avataaars.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><app-stars [title]="startframework"></app-stars>  </h5> 
    
    <p class="card-text">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</div>
</section> -->

<div class="d-flex vh-100 main justify-content-center text-white align-items-center">
  <div >
<img   class="rounded-circle w-100" src="assets/avataaars.svg" alt="">
<app-stars [title]="startframework" ></app-stars>
<div>Graphic Artist - Web Designer - Illustrator</div>
</div>
</div>



